table{
    border-spacing: 0;
    border-collapse: collapse;
    border: 5px solid #000;
}
th{
    background: rgb(29, 29, 190);
    color: #fff;
    height: 50px;
    vertical-align: middle;
    border: 2px solid #fff
}
tr:nth-child(2){
    background: rgb(118, 118, 212);
}
tr:nth-child(even){
    background: #fff;
}