strong{
    color:red;
}
h1{
   font-size: 35px;
   font-style: italic;
}
p{
   font-size: 15px;
   font-style: oblique;
}
.clgreen {
   color: green; 
}
.clblue{
   color: blue;
}
.clblviol{
   color: blueviolet;
}
.clyellow{
   color: yellow;
}
.clcyan{
   color: cyan;
}
.clchoc{
   color: chocolate;
}
