strong{
    color:red;
}
h1{
   font-size: 32px;
}
h4{
   font-size: 24px;
}
p{
   font-size: 14px;
}
.clgreen {
   color: green;
   font-size: 20px; 
}
.clblue{
   color: blue;
   font-size: 20px;
}
.clblviol{
      color: blueviolet;
}
.clyellow{
   color: yellow;
}
.clcyan{
   color: cyan;
}
.clchoc{
   color: chocolate;
}
