table{
    border-spacing: 0;
    border-collapse: collapse;
    border: 5px solid #000;
}
td{
    width: 150px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    border: 1px solid #000;
    background: rgb(172, 19, 19);
}

.hleft{
    text-align: left;
}

.hcenter{
    text-align: center;
}

.hright{
    text-align: right;
}

.vtop{
    vertical-align: top;
}

.vmiddle{
    vertical-align: middle;
}

.vbottom{
    vertical-align: bottom;
}